%input-textarea {
  @include font(('mob': 14px, 'md': 16px), 32px, 400);
  @include padding((
    'mob': 15px 20px,
    'xs': 17px 26px 14px,
  ));

  background-color: $dark-3;
  border: none;
  color: $white;
  width: 100%;

  &::placeholder {
    color: $light-1;
  }
}
