-
  const LIST = [
    {
      href: '#',
      name: 'О нас',
    },
    {
      href: '#',
      name: 'Проекты',
    },
    {
      href: '#',
      name: 'Отзывы',
    },
    {
      href: '#',
      name: 'Договор оферты',
    },
    {
      href: '#',
      name: 'Договор подряда',
    },
    {
      href: '#',
      name: 'Конфиденциальность',
    },
    {
      href: '#',
      name: 'Партнёрское соглашение',
    },
  ]
