-
  const LIST = [
    {
      name: 'Из чего формируется конечная стоимость проекта?',
    },
    {
      name: 'У меня есть свой проект. Сможем ли мы его доработать / реализовать?',
    },
    {
      name: 'Я выбираю между разными компаниями. В чём ваше отличие?',
    },
    {
      name: 'Могу ли я делегировать вам работу / согласование с подрядчиком / организацией?',
    },
    {
      name: 'Могу ли я вернуть деньги на каком-либо из этапов работ?',
    },
  ]
