-
  const HEADER_LIST = [
    {
      href: '#',
      name: 'О нас',
    },
    {
      href: '#',
      name: 'Проекты',
    },
    {
      href: '#',
      name: 'Этапы',
    },
    {
      href: '#',
      name: 'Отзывы',
    },
    {
      href: '#',
      name: 'Контакты',
    },
  ]
