-
  const PRIDE_LIST = [
    {
      title: 'Консультация с широким активом',
      desc: 'А также свежий взгляд на привычные вещи - безусловно открывает новые горизонты для как самодостаточных, так и внешне зависимых концептуальных решений.',
      pic: 'assets/images/pride/01.svg',
    },
    {
      title: 'В своём стремлении повысить',
      desc: ' Качество жизни, они забывают, что сплочённость команды профессионалов представляет собой интересный эксперимент проверки прогресса профессионального сообщества. ',
      pic: 'assets/images/pride/02.svg',
    },
  ]
