$black: #000;
$white: #fff;

// === theme ===
$primary: #FF9900;
$primary-lighter: #ffc266;
$primary-darker: #E1670E;
$dark: #333;
$dark-1: #222;
$dark-2: #666;
$dark-3: #414141;
$light-1: #CACACA;
$light-2: #ECECEC;
$light-3: #D2D2D2;
$light-4: #C4C4C4;
