// trs
$trs: 0.2s;

$header-height: (
  'mob': 45px,
  'xs': 69px,
  'md': 100px,
  'lg': 100px
);

$gap: (
  'mob': 16px,
  'xs': 16px,
  'lg': 24px,
);

$hero-height: (
  'mob': 262px,
  'xs': 699px,
  'md': 668px,
  'lg': 620px
)
